{% extends 'logged_in_base.html' %}

{% block body %}
      {% for field in entry_user_detail_form %}
        <h2>{{ field.html_name }}</h2>
        <p>{{field.value}}</p>
      {% endfor %}

      <form action="{% url 'user:entry_user_detail' %}" method="POST">
        {% csrf_token %}
        {% for field in entry_user_detail_form %}
        {{ field.as_hidden }}
        {% endfor %}
        <button type="submit">戻る</button>
      </form>
      <form action="{% url 'user:add_user_detail' %}" method="post">
        {% csrf_token %}
        {% for field in entry_user_detail_form %}
        {{ field.as_hidden }}
        {% endfor %}
        <button type="submit">登録</button>
      </form>

{% endblock body %}
