{% extends 'logged_out_base.html' %}

{% block body %}

    <form class="form-group" action="" method="post">{% csrf_token %}
    {{form.non_field_errors}}
    {{form.username.errors}}
    {{form.username}}
    {{form.password.errors}}
    {{form.password}}
    <input class="form-item btn" type="submit" name="submit" value="ログイン">
    </form>
    <a href="{% url 'social:begin' 'twitter' %}">Twitterでログイン</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">google-oauth2でログイン</a>
    <a href="{% url 'social:begin' 'github' %}">githubでログイン</a>

{% endblock body %}

  </body>
</html>
