a.deco-none 
  color: inherit
  text-decoration: none


.add-pointer:hover
  cursor: pointer

tbody
  text-align: left

.heading
  text-align: left
  margin-bottom: 10px

.bottom-btns
  position: fixed
  right: 20px
  bottom: 40px