<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% block style %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fascinate+Inline&display=swap">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'mintama/css/index.sass' %}">
    {% endblock style %}
</head>
<body>
    <div class="content">
        <iframe></iframe>

        <h1 class="heading">this is a description</h1>
        <main>
          <h2 class="sub-heading">TODO</h2>
        </main>
      </div>
    
</body>