<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.mintama.work/static/mintama/img/mintama-top.png">
    <link rel="icon" href="https://static.mintama.work/static/mintama/img/mintama-top.png" sizes="180x180">
    <title>{% block title %}みんたま / {{ user.username }}{% endblock title %}</title>
    {% block style %}{% endblock style %}
  </head>
  <body>
    <div id="app">
      <baseline-view 
      username={{ user.username }}
      v-slot:content
      >
        <router-view></router-view>
      </baseline-view>
    </div>
    {% load render_bundle from webpack_loader %}{% render_bundle 'main' %}
    {% block script %}{% endblock script %}
  </body>
</html>